In [12]:
from google.colab import drive
drive.mount("/content/gdrive")

import sqlite3 as sql3
import pandas as pd
import pandas.io.sql as pds

filepath = "/content/gdrive/My Drive/DATA/baseball.db"
conn = sql3.Connection(filepath)
conn 

query = """
SELECT * from allstarfull;
"""

observations = pd.read_sql(query, conn)
display(observations)
observations.head(10)

#Create a variable all_tables which reads in all the data in the sqlite_master table
all_tables = pd.read_sql("SELECT * FROM sqlite_master", conn)
print(all_tables)
display(all_tables)



#Analyze the allstarfull table to report the top 3 players in terms of number of games played
#If there are ties, choose players with lower starting positions first

bestPlayer_query = """
SELECT playerID, sum(GP) AS num_games_played, AVG(startingPos) AS average_starting_position
FROM allstarfull
GROUP BY playerID
ORDER BY num_games_played desc, average_starting_position asc
LIMIT 3
"""

bestPlayer = pd.read_sql(bestPlayer_query, conn)
display(bestPlayer)

    playerID  num_games_played  average_starting_position
0  musiast01              24.0                   6.357143
1   mayswi01              24.0                   8.000000
2  aaronha01              24.0                   8.470588